# Ignorar todo por defecto
*

# Permitir archivos clave
!.gitignore
!mvnw
!mvnw.cmd
!pom.xml

# Permitir .mvn
!.mvn/
!.mvn/**

# Permitir estructura de código
!src/
!src/main/
!src/main/java/
!src/main/java/cat/
!src/main/java/cat/itacademy/
!src/main/java/cat/itacademy/s05/
!src/main/java/cat/itacademy/s05/S05/
!src/main/java/cat/itacademy/s05/S05/model/
!src/main/java/cat/itacademy/s05/S05/model/**
!src/main/java/cat/itacademy/s05/S05/exception/
!src/main/java/cat/itacademy/s05/S05/exception/**
!src/main/java/cat/itacademy/s05/S05/repository/
!src/main/java/cat/itacademy/s05/S05/repository/**
!src/main/java/cat/itacademy/s05/S05/service/
!src/main/java/cat/itacademy/s05/S05/service/**
!src/main/resources/
!src/main/resources/**

# Ignorar cosas innecesarias
.idea/
target/
*.class
*.log
*.iml
.DS_Store
logs/