
target/
.mvn/
.idea/
.vscode/
node_modules/

# Ignorar archivos de logs y configuración de IDEs
*.log
.DS_Store
Thumbs.db
.classpath
.project
.settings/
HELP.md
target/
.idea/
.vscode/
node_modules/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.log
.DS_Store
